## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys
import os
sys.path.append('../')


# Import API key
from config import google_api_key

# Configure gmaps API key
gmaps.configure(api_key=google_api_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
print(os.getcwd())
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

C:\Users\merin\Documents\GitHub\World_Weather_Analysis\Vacation_Search

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Peniche,PT,39.3558,-9.3811,55.99,80,3,5.99,clear sky
1,1,Camopi,GF,3.1655,-52.3158,71.42,99,100,0.11,overcast clouds
2,2,Chicama,PE,-7.8447,-79.1469,71.60,79,97,3.13,overcast clouds
3,3,Waiouru,NZ,-39.4833,175.6667,49.01,92,45,1.19,scattered clouds
4,4,Kapaa,US,22.0752,-159.3190,71.01,88,90,25.32,mist

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 70

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <=max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Peniche,PT,39.3558,-9.3811,55.99,80,3,5.99,clear sky
3,3,Waiouru,NZ,-39.4833,175.6667,49.01,92,45,1.19,scattered clouds
5,5,Petropavlovsk-Kamchatskiy,RU,53.0452,158.6483,30.20,43,0,8.95,clear sky
7,7,Qaqortoq,GL,60.7167,-46.0333,37.40,38,90,18.41,overcast clouds
8,8,Ushuaia,AR,-54.8000,-68.3000,37.40,87,40,9.22,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
2044,2044,Hermanus,ZA,-34.4187,19.2345,69.01,74,79,1.01,broken clouds
2049,2049,Guerrero Negro,MX,27.9769,-114.0611,54.28,77,0,14.54,clear sky
2053,2053,Mataura,NZ,-46.1927,168.8643,66.00,57,39,8.99,scattered clouds
2055,2055,Hamilton,US,39.1834,-84.5333,37.40,93,1,1.52,clear sky
2056,2056,Panaba,MX,21.2833,-88.2667,65.55,94,0,6.85,clear sky

In [15]:
# 4a. Determine if there are any empty rows.
import numpy as np
preferred_cities_df = preferred_cities_df.replace('', np.nan)
preferred_cities_df[preferred_cities_df.isnull().any(axis=1)]

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
282,282,Henties Bay,NaN,-22.1160,14.2845,64.0,95,31,3.00,light rain
736,736,Walvis Bay,NaN,-22.9575,14.5053,64.4,88,1,5.75,light rain

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Peniche,PT,39.3558,-9.3811,55.99,80,3,5.99,clear sky
3,3,Waiouru,NZ,-39.4833,175.6667,49.01,92,45,1.19,scattered clouds
5,5,Petropavlovsk-Kamchatskiy,RU,53.0452,158.6483,30.20,43,0,8.95,clear sky
7,7,Qaqortoq,GL,60.7167,-46.0333,37.40,38,90,18.41,overcast clouds
8,8,Ushuaia,AR,-54.8000,-68.3000,37.40,87,40,9.22,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
2044,2044,Hermanus,ZA,-34.4187,19.2345,69.01,74,79,1.01,broken clouds
2049,2049,Guerrero Negro,MX,27.9769,-114.0611,54.28,77,0,14.54,clear sky
2053,2053,Mataura,NZ,-46.1927,168.8643,66.00,57,39,8.99,scattered clouds
2055,2055,Hamilton,US,39.1834,-84.5333,37.40,93,1,1.52,clear sky
2056,2056,Panaba,MX,21.2833,-88.2667,65.55,94,0,6.85,clear sky

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Peniche,PT,55.99,clear sky,39.3558,-9.3811,
3,Waiouru,NZ,49.01,scattered clouds,-39.4833,175.6667,
5,Petropavlovsk-Kamchatskiy,RU,30.20,clear sky,53.0452,158.6483,
7,Qaqortoq,GL,37.40,overcast clouds,60.7167,-46.0333,
8,Ushuaia,AR,37.40,scattered clouds,-54.8000,-68.3000,
...,...,...,...,...,...,...,...
2044,Hermanus,ZA,69.01,broken clouds,-34.4187,19.2345,
2049,Guerrero Negro,MX,54.28,clear sky,27.9769,-114.0611,
2053,Mataura,NZ,66.00,scattered clouds,-46.1927,168.8643,
2055,Hamilton,US,37.40,clear sky,39.1834,-84.5333,
2056,Panaba,MX,65.55,clear sky,21.2833,-88.2667,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df
hotel_df.loc[(hotel_df["Hotel Name"] == ""),['Hotel Name']] = np.nan
hotel_df[hotel_df.isnull().any(axis=1)]
clean_hotel_df=hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Peniche,PT,55.99,clear sky,39.3558,-9.3811,Hotel Star inn Peniche
3,Waiouru,NZ,49.01,scattered clouds,-39.4833,175.6667,Tāwhiri
5,Petropavlovsk-Kamchatskiy,RU,30.20,clear sky,53.0452,158.6483,"ООО ""Гостиничный комплекс ""Петропавловск"""
7,Qaqortoq,GL,37.40,overcast clouds,60.7167,-46.0333,Hotel Qaqortoq
8,Ushuaia,AR,37.40,scattered clouds,-54.8000,-68.3000,Albatros Hotel
...,...,...,...,...,...,...,...
2044,Hermanus,ZA,69.01,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
2049,Guerrero Negro,MX,54.28,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
2053,Mataura,NZ,66.00,scattered clouds,-46.1927,168.8643,Ellie's Villa
2055,Hamilton,US,37.40,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
2056,Panaba,MX,65.55,clear sky,21.2833,-88.2667,Posada rosario

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))